<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a routerLink="/" class="navbar-brand">Mails</a>
      </div>
      <div class="collaps navbar-collapse">
          <ul class="nav nav-tabs">
              <li role="presentation" routerLinkActive="active"><a routerLink="/emails" >Email List</a></li>
              <li role="presentation" routerLinkActive="active"><a routerLink="/create">Create Email</a></li>
          </ul>
      </div>
  </div>
</nav>