<div style="border-style:ridge">
    <form style="margin-left:20px;margin-bottom:10px">
        <h3>Compose Email</h3>
        <div class="formGroup">
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <input type="text"  class="form-control" placeholder="To:">
              </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-7 col-sm-7">
                  <input type="text"  class="form-control" placeholder="Subject:">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    <textarea style="width:150%;" rows="10" placeholder="Text Message"></textarea>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-primary"
                            >Send</button>
                </div>
                <div class="col-md-1">
                    <button class="btn"
                            >Cancel</button>
                </div>
            </div>
        </div>
      </form>
</div>
